#searchBox.input.ul{
				width: 250px;
				}
#response.ul{
				float: left;
				list-style: none;
				padding: 0px;
				border: 1px solid black;
				margin-top: 0px;
				}
#response.li:hover{
				color: white;
				background: blue;
			}